n8n_workflow_groq.json
{
    "name": "Chatbot Tsiky - Free AI (Groq + Tools)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                240
            ],
            "webhookId": "tsiky-chat-webhook"
        },
        {
            "parameters": {
                "text": "={{ \"[INSTRUCTION: Answer in language '\" + ($json.language || 'fr') + \"']\\n\\n\" + $json.message }}",
                "options": {
                    "systemMessage": "Tu es Tsiky, un compagnon virtuel empathique de soutien émotionnel.\n\n**INSTRUCTION CRITIQUE :**\n- Tu reçois une instruction de langue (ex: [INSTRUCTION: Answer in language 'en']). TU DOIS ABSOLUMENT RÉPONDRE DANS CETTE LANGUE.\n- NE REFUSE JAMAIS DE RÉPONDRE. Même en cas de détresse (crise d'angoisse, tristesse), agis comme un ami réconfortant. Ne dis jamais \"Je ne peux pas vous aider avec ça\".\n\n**Mission :**\nÉcouter activement, valider les émotions et rassurer l'utilisateur. En cas de crise d'angoisse, propose directement des exercices simples (ancrage, respiration profonde).\n\n**Contexte :**\n- Urgence sévère / Suicide -> Donne doucement le 3114 (FR).\n- N'utilise pas les outils externes (Wikipedia) pour les urgences émotionnelles, réponds directement par l'empathie.\n\n**Style :**\nChaleureux, très empathique, sans aucun jugement, concis et concret."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.0,
            "position": [
                680,
                240
            ],
            "inputs": [
                "webhook-trigger"
            ],
            "outputs": [
                "main"
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash"
            },
            "id": "gemini-chat-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                660,
                480
            ],
            "credentials": {
                "googleApi": {
                    "id": "",
                    "name": "Google API"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 10
            },
            "id": "memory-window",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                820,
                480
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                240
            ],
            "inputs": [
                "ai-agent"
            ]
        },
        {
            "parameters": {},
            "id": "wikipedia-tool",
            "name": "Wikipedia",
            "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
            "typeVersion": 1,
            "position": [
                540,
                480
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}